/*color palette*/
:root {
    --ink-black: #0d1b2aff;
    --prussian-blue: #1b263bff;
    --dusk-blue: #415a77ff;
    --dusty-denim: #778da9ff;
    --alabaster-grey: #e0e1ddff;
}

/*reset*/
html, body, header, nav, main, footer, img, h1, ul, section, figure, figcaption, aside {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
    background-color: var(--alabaster-grey);
    color:var(--ink-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex-grow: 1;
}

header {
    background-color: var(--dusk-blue);
    color: var(--alabaster-grey);
    text-align: center;
}

header h1 {
    padding-left: 0px;
    margin-left: 0px;
}

nav {
    background-color: var(--prussian-blue);
    text-align: center;
    padding: 14px 20px;
    margin-bottom: 0px;
}

nav a {
    font-size: 18px;
    color: var(--dusty-denim);
    background-color: var(--ink-black);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: var(--alabaster-grey);
    border-width: 1px;
    border-radius: 7px;
    padding: 10px;
    margin: auto .5%;
}

nav a:hover {
    color: var(--ink-black);
    background-color: var(--alabaster-grey);
}

main {
    font-size: 18px;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 35px;
}

#picture h2, #picture h3 {
    margin: 1.5% auto;
}

#bio ul {
    margin-left: 40px;
}

#completed-courses table {
    border-style: solid;
}
#completed-courses table td {
    border-style: none;
    padding: 10px;
}

footer {
    background-color: var(--dusk-blue);
    color: var(--alabaster-grey);
    text-align: center;
    padding: 14px 20px;
}