/*color palette*/
:root {
    --ink-black: #0d1b2aff;
    --prussian-blue: #1b263bff;
    --dusk-blue: #415a77ff;
    --dusty-denim: #778da9ff;
    --alabaster-grey: #e0e1ddff;
}

/*reset*/
html, body, header, nav, main, footer {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

body{
    background-color: var(--alabaster-grey);
    color:var(--ink-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.content-wrapper {
    flex-grow: 1;
}

header {
    background-color: var(--dusk-blue);
    color: var(--alabaster-grey);
    text-align: center;
}

header h1 {
    padding-top: 20px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

nav {
    background-color: var(--prussian-blue);
    text-align: center;
}

nav a {
    font-size: 18px;
    color: var(--dusty-denim);
    background-color: var(--ink-black);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 2px 0px;
}

main {
    font-size: 18px;
    margin: 0px 10px;
}

.image {
    width: 100%;
    height: auto;
}

#picture h2, #picture h3 {
    margin: auto auto;
}

#bio {
    text-align: left;
}

#bio ul {
    margin-left: 40px;
}

#resume img {
    text-align: center;
    width: 350px;
    height: auto;
}

#gallery img {
    display: grid;
    width: 100%;
}

/*Mobile table styles*/
table {
    margin: 10px auto;
}

thead {
    display: none;
}

tr {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.course-name {
    font-weight: bold;
}

footer {
    background-color: var(--dusk-blue);
    color: var(--alabaster-grey);
    text-align: center;
    padding: 4px 20px;
}

/*Media Query for screens wider than 768px (Tablets)*/
@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    body {
        text-align: left;
    }

    nav {
        padding: 14px 20px;
    }

    nav a {
        display: inline-block;
        border-style: solid;
        border-color: var(--alabaster-grey);
        border-width: 1px;
        border-radius: 7px;
        margin: auto .5%;
    }

    nav a:hover {
        color: var(--ink-black);
        background-color: var(--alabaster-grey);
    }

    #resume {
        text-align: center;
    }

    #resume img {
        width: 700px;
    }

    #gallery h1{
        text-align: center;
    }

    #gallery-photos {
        column-count: 2;
        column-gap: 10px;
        margin: auto 5%;
        margin-bottom: 10px;
    }

    #gallery img {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .image {
        width: 250px;
        height: auto;
    }

    #about{
        display: grid;
        grid-template-columns: 250px auto;
        gap: 35px;
    }

    #about img {
        margin-top: 20px;
    }

    #picture h2, #picture h3 {
        margin: 1.5% auto;
    }
    /* Table rules for desktop */
    thead {
        text-align: center;
        display: table-header-group;
    }

    table {
        border-style: solid;
    }

    tr {
        display: table-row;
        border-style: solid;
    }

    td {
        padding: 10px;
    }

    .course-name {
        font-weight: normal;
    }

    footer {
        padding: 10px 20px;
    }
}

/* Media query for screens wider than 1000px (desktops) */
@media only screen and (min-width: 1000px) {
    
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    body {
        text-align: left;
    }

    nav {
        padding: 14px 20px;
    }

    nav a {
        display: inline-block;
        border-style: solid;
        border-color: var(--alabaster-grey);
        border-width: 1px;
        border-radius: 7px;
        margin: auto .5%;
    }

    nav a:hover {
        color: var(--ink-black);
        background-color: var(--alabaster-grey);
    }

    #resume {
        text-align: center;
    }

    #resume img {
        width: 700px;
    }

    #gallery h1{
        text-align: center;
    }

    #gallery-photos {
        column-count: 3;
        column-gap: 10px;
        margin: auto 10%;
        margin-bottom: 10px;
    }

    #gallery img {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .image {
        width: 250px;
        height: auto;
    }

    #about{
        display: grid;
        grid-template-columns: 250px auto;
        gap: 35px;
    }

    #about img {
        margin-top: 20px;
    }

    #picture h2, #picture h3 {
        margin: 1.5% auto;
    }
    /* Table rules for desktop */
    thead {
        text-align: center;
        display: table-header-group;
    }

    table {
        border-style: solid;
    }

    tr {
        display: table-row;
        border-style: solid;
    }

    td {
        padding: 10px;
    }

    .course-name {
        font-weight: normal;
    }

    footer {
        padding: 10px 20px;
    }

}