/*color palette*/
:root {
    --ink-black: #0d1b2aff;
    --prussian-blue: #1b263bff;
    --dusk-blue: #415a77ff;
    --dusty-denim: #778da9ff;
    --alabaster-grey: #e0e1ddff;
}

/*reset*/
body, header, nav, main, footer, img, h1, ul, section, figure, figcaption, aside {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
    background-color: var(--dusk-blue);
    color: var(--alabaster-grey);
    text-align: center;
}

header h1 {
    padding-left: 0px;
    margin-left: 0px;
}

nav {
    background-color: var(--prussian-blue);
    text-align: center;
    padding: 14px 20px;
    margin-bottom: 0px;
}

nav a {
    font-size: 18px;
    color: var(--dusty-denim);
    background-color: var(--ink-black);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: var(--alabaster-grey);
    border-width: 1px;
    border-radius: 7px;
    padding: 10px;
    margin: auto .5%;
}

nav a:hover {
    color: var(--ink-black);
    background-color: var(--alabaster-grey);
}

body{
    background-color: var(--alabaster-grey);
    color:var(--ink-black);
}

main {
    font-size: 18px;
    margin: 10px;
}

footer {
    background-color: var(--dusk-blue);
    color: var(--alabaster-grey);
    text-align: center;
    padding: 14px 20px;
}